<footer class="bg-dark text-white text-center fixed-bottom">
    <div class="text-center py-2" style="background-color: rgba(0, 0, 0, 0.2);">
      <div class="row d-flex justify-content-center">
          <div class="col-2">
              <a class="text-white" style="text-decoration: none !important" href="#">Quienes somos</a>
          </div>
          <div class="col-2">
              <a class="text-white" style="text-decoration: none !important" href="#">Mision Y Vision</a>
          </div>
          <div class="col-2">
              <a class="text-white" style="text-decoration: none !important" href="#">Contactanos</a>
          </div>
          <div class="col-2">
              <a class="text-white" href="https://www.instagram.com/croapp_/">
                  <img width="10%" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="">
                  Instagram
              </a>
          </div>
      </div>
      <div class="">
          soporte@croapp.com.co - © 2021 Copyright 🐸
      </div>
    </div>
</footer>
