<div class="container text-center" style="padding-top:58px; padding-bottom:56px;">
    <div class="my-2">
        <div class="col d-flex justify-content-center">
            <div class="card h-100 w-50">
                <div class="card-body">
                    <h1 class="card-title"><a [routerLink]="['/login']">🐸<strong>CroAPP</strong></a></h1>
                    <h6 class="card-subtitle mb-2 text-muted">Sign Up</h6>
                    <p class="card-text">
                    <fieldset>
                        <div class="form-group form-floating">
                            <div class="row">
                                <div class="col-2">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAKlBMVEXg4OD////j4+Pb29v7+/vi4uLx8fHs7Oz39/f09PTa2tru7u7m5ubX19cF3ejnAAABRElEQVR4nO3Z27JDMBiAURFVVN//dXfp+ZC6Y0//tS4zphPflARVBQAAAAAAAAAAAAAAAAAAAAAAAADAj6i/23p6G+jSkn7rKa6tXUyS0mHrSa4rp9QuHNKlJq8yl//i1GS/cEgbtsm4Kx0StEme7ipd4ZCgTQ7zrbT7fOoxm+TL+vL58ondZLwPd/2tQ+wm99HTRu4WJWaTapyTtNdTz/Pe9holaJNcnxrsh+vYZbt/iRK0SVUdj8fnf8k9StgmDyMPD4VzlNBN5qU4Pz0nT1EiN2mmdSe/vDroQzdppsX4NUlKOXCT5ry9f3t3ErhJU3qfFLdJMUncJuUkYZvkchJNNJlo8u58P6l3JXXoPVtRxCZ9PX5Tx/u+4zvgu2H5e3E7LP/MbxmWLowhXBIAAAAAAAAAAAAAAAAAAAAAAAAAgF/1BxZSCIBLTls7AAAAAElFTkSuQmCC"
                                        class="rounded-circle border" alt="Cinque Terre" width="50" height="50">
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingInput"
                                            placeholder="name@example.com">
                                        <label for="floatingInput">Name</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingInput"
                                            placeholder="name@example.com">
                                        <label for="floatingInput">Last name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating my-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="floatingPassword"
                                            placeholder="Password">
                                        <label for="floatingPassword">Password</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="floatingPassword"
                                            placeholder="Password">
                                        <label for="floatingPassword">Confirm Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating my-3">
                                <input type="" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Address</label>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingPassword"
                                            placeholder="Password">
                                        <label for="floatingPassword">City</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingPassword"
                                            placeholder="Password">
                                        <label for="floatingPassword">State</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating my-3">
                                <input type="" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Address 2</label>
                            </div>
                            <div class="container">
                                <div class="form-check w-50">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                        checked>
                                    <label class="form-check-label" for="flexCheckChecked">Remember me</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <a href="home.html" class="card-link btn btn-dark">Sign Up</a>
                    <a [routerLink]="['/login']" class="card-link btn btn-secondary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
