<div class="d-flex justify-content-between p-3 username-container bg-dark navbar-dark">
    <div><a class="navbar-brand" [routerLink]="['/login']">🐸<strong>CroAPP</strong></a></div>
    <div class="d-flex flex-column justify-content-center navbar-brand">
        <div>Hola {{username}}</div>
    </div>
</div>
<div class="container text-center" style="padding-top:58px; padding-bottom:56px;">
    <div class="my-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#ingresos">Mis planes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#estadisticas">Mis cuentas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#soon">Estadísticas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#soon">Acciones</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/landing']" (click)="logout()" class="nav-link" data-bs-toggle="tab"
                    href="#importar">Logout</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="home">
                <div class="card my-2">
                    <div class="card-body">
                        <!-- <h1 class="card-title">Hola carlos!! bienvenido a</h1>
                        <h2 class="card-title">🐸<strong>CroAPP</strong></h2> -->
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-3">
                                    <div class="card xbg-dark p-2 h-100">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                            <div>
                                                <div class="p-2">
                                                    <img width="100%"
                                                        src="https://www.finanzaspracticas.com.co/assets/images/cards/etapas-de-la-vida-sq-360-360.jpg">
                                                </div>
                                                <div class="p-2">
                                                    <div class="xtext-white">
                                                        <div class="p-2">
                                                            <h5 class="mt-4 xtext-white">Etapas de la vida</h5>
                                                            <p class="xp-2 text-left">Tener una buena salud financiera
                                                                es
                                                                muy importante en la medida en la que vamos adquiriendo
                                                                mayores responsabilidades a lo largo...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="mt-4 xtext-white btn btn-info align-text-bottom"
                                                href="https://www.finanzaspracticas.com.co/planificar/etapas-de-la-vida">Saber
                                                más</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card xbg-dark p-2 h-100">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                            <div>
                                                <div class="p-2">
                                                    <img width="100%"
                                                        src="https://www.finanzaspracticas.com.co/assets/images/cards/aprende-a-invertir-sq-360-360.jpg">
                                                </div>
                                                <div class="p-2">
                                                    <div class="xtext-white">
                                                        <div class="p-2">
                                                            <h5 class="mt-4 xtext-white">Aprende a invertir</h5>
                                                            <p class="xp-2 text-left">Llegó el momento de poner tus
                                                                ahorros
                                                                a trabajar. De poco sirve el esfuerzo en recortar tus
                                                                gastos
                                                                y aumentar los ahorros si...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="mt-4 xtext-white btn btn-info align-text-bottom"
                                                href="https://www.finanzaspracticas.com.co/invertir/aprende-a-invertir">Saber
                                                más</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card xbg-dark p-2 h-100">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                            <div>
                                                <div class="p-2">
                                                    <img width="100%"
                                                        src="https://www.finanzaspracticas.com.co/assets/images/cards/ahorro-sq-270-270.jpg">
                                                </div>
                                                <div class="p-2">
                                                    <div class="xtext-white">
                                                        <div class="p-2">
                                                            <h5 class="mt-4 xtext-white">Ahorro</h5>
                                                            <p class="xp-2 text-left">El ahorro es uno de los pilares de
                                                                las
                                                                finanzas personales. Mediante el ahorro puedes llevar
                                                                una
                                                                vida financieramente estable que te permitirá...</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="mt-4 xtext-white btn btn-info align-text-bottom"
                                                href="https://www.finanzaspracticas.com.co/planificar/ahorro">Saber
                                                más</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card xbg-dark p-2 h-100">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                            <div>
                                                <div class="p-2">
                                                    <img width="100%"
                                                        src="https://www.finanzaspracticas.com.co/assets/images/cards/calculadoras-sq-360-360.jpg">
                                                </div>
                                                <div class="p-2">
                                                    <div class="xtext-white">
                                                        <div class="p-2">
                                                            <h5 class="mt-4 xtext-white">Calculadora</h5>
                                                            <p class="xp-2 text-left">Logra un mejor control de tus
                                                                finanzas
                                                                haciendo uso de estas poderosas herramientas, que te
                                                                ayudarán, entre otras cosas, a saber a dónde va tu...
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="mt-4 xtext-white btn btn-info align-text-bottom"
                                                href="https://www.finanzaspracticas.com.co/recursos/calculadoras">Saber
                                                más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="ingresos">
                <div class="card my-2">
                    <div class="card-body">
                        <h1 class="card-title">Mis planes</h1>
                        <button type="button" class="btn btn-primary m-2" (click)="openCrearIngresosModal()">Crear nuevo
                            plan</button>
                        <table class=" table table-hover my-2">
                            <thead>
                                <tr>
                                    <th class="text-center align-middle" scope="col">Plan</th>
                                    <th class="text-center align-middle" scope="col">Gastos deseados</th>
                                    <th class="text-center align-middle" scope="col">Gastos reales</th>
                                    <th class="text-center align-middle" scope="col">Delta</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr (click)="planClick(plan)" *ngFor="let plan of planes">
                                    <td class="text-center align-middle">{{plan.name}}</td>
                                    <td class="text-center align-middle">${{plan.expected_amount}}</td>
                                    <td class="text-center align-middle">${{plan.real_cost}}</td>
                                    <td class="text-center align-middle">
                                        <div
                                            *ngIf="plan.expected_amount - plan.real_cost > 0; then thenBlock else elseBlock">
                                        </div>
                                        <ng-template #thenBlock><span
                                                class="badge rounded-pill bg-success">${{plan.expected_amount -
                                                plan.real_cost}}</span></ng-template>
                                        <ng-template #elseBlock><span
                                                class="badge rounded-pill bg-danger">${{plan.expected_amount -
                                                plan.real_cost}}</span></ng-template>

                                    </td>
                                    <td class="text-center align-middle" scope="row"><button type="button"
                                            class="btn btn-outline-danger"
                                            (click)="eliminarPlan(plan)">Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body" *ngIf="show_detalle && detalle_actual">

                        <h1>{{detalle_actual.name}}</h1>
                        <button type="button" class="btn btn-primary m-2"
                            (click)="openCrearGastoModal()">Agregar</button>
                        <table class="table table-hover my-2">
                            <thead>
                                <tr>
                                    <th class="text-center align-middle" scope="col">Nombre</th>
                                    <th class="text-center align-middle" scope="col">Costo</th>
                                    <th class="text-center align-middle" scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let detalle of detalles">
                                <tr>
                                    <td class="text-center align-middle">{{detalle.name}}</td>
                                    <td class="text-center align-middle"><span
                                            class="badge rounded-pill bg-success">${{detalle.amount_cost}}</span></td>
                                    <td class="text-center align-middle" scope="row"><button type="button"
                                            class="btn btn-outline-danger"
                                            (click)="eliminarGasto(detalle)">Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="soon">
                <div class="card my-4">
                    <div class="card-body">
                        <h1>🐸</h1>
                        <h1>Proximamente...</h1>
                    </div>
                </div>
                <!-- <div class="row my-2">
                    <div class="col-5">
                        <div class="d-flex flex-column ">
                            <div class="card">
                                <div class="card-body align-middle">
                                    <div class="bg-light p-5 my-2">
                                        <h1>Octubre</h1>
                                        <h6>Tus compromisos de este mes</h6>
                                    </div>
                                    <div class="card">
                                        <div class="card-body container">
                                            <div class="row mb-4 h">
                                                <div class="col-2">
                                                    <span class="badge bg-secondary">
                                                        L
                                                    </span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="badge bg-secondary">
                                                        M
                                                    </span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="badge bg-secondary">
                                                        M
                                                    </span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="badge bg-secondary">
                                                        J
                                                    </span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="badge bg-secondary">
                                                        V
                                                    </span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="badge bg-secondary">
                                                        S
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-success">1</span></div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">2</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">3</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">4</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">5</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">6</span>
                                                </div>

                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">8</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-danger">9</span></div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">10</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">11</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">12</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">13</span>
                                                </div>

                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">15</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">16</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-warning">17</span></div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">18</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">19</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">20</span>
                                                </div>

                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">22</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">23</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">24</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-info">25</span></div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">26</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">27</span>
                                                </div>

                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">29</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">30</span>
                                                </div>
                                                <div class="col-2"><span
                                                        class="my-1 badge rounded-pill bg-light text-muted">31</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title">Planeador</h4>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center align-middle" scope="col">Fecha</th>
                                            <th class="text-center align-middle" scope="col">Monto</th>
                                            <th class="text-center align-middle" scope="col">Descripcion</th>
                                            <th class="text-center align-middle" scope="col">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center align-middle"><span
                                                    class="badge rounded-pill bg-success ">Lunes 1 de Octubre</span>
                                            </td>
                                            <td class="text-center align-middle">$15.000</td>
                                            <td class="text-center align-middle">Revisión moto</td>
                                            <td class="text-center align-middle" scope="row">Pagado</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center align-middle"><span
                                                    class="badge rounded-pill bg-danger">Martes 9 de Octubre</span></td>
                                            <td class="text-center align-middle">$15.000</td>
                                            <td class="text-center align-middle">Soat</td>
                                            <td class="text-center align-middle" scope="row">Atrasado</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center align-middle"><span
                                                    class="badge rounded-pill bg-warning">Miercoles 17 de Octubre</span>
                                            </td>
                                            <td class="text-center align-middle">$15.000</td>
                                            <td class="text-center align-middle">Paseo</td>
                                            <td class="text-center align-middle" scope="row">Poco tiempo</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center align-middle"><span
                                                    class="badge rounded-pill bg-info">Jueves 25 de Octubre</span></td>
                                            <td class="text-center align-middle">$15.000</td>
                                            <td class="text-center align-middle">Almuerzo</td>
                                            <td class="text-center align-middle" scope="row">Pendiente</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary my-2">Agregar fecha</button>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="tab-pane fade" id="estadisticas">
                <div class="row my-2">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title">Saldo en mis cuentas</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Nombre de banco</h6>
                                <p class="card-text">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center align-middle" scope="col">Banco</th>
                                            <th class="text-center align-middle" scope="col">Monto hace un mes</th>
                                            <th class="text-center align-middle" scope="col">Monto Hoy</th>
                                            <th class="text-center align-middle" scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center align-middle">ScotiaBank</td>
                                            <td class="text-center align-middle"><span
                                                    class="badge rounded-pill bg-danger">$1.500</span></td>
                                            <td class="text-center align-middle"><span
                                                    class="badge rounded-pill bg-success">$1.500.000</span></td>
                                            <td class="text-center align-middle" scope="row"><button type="button"
                                                    class="btn btn-outline-secondary">Ver más</button></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center align-middle">Bancolombia</td>
                                            <td class="text-center align-middle"><span
                                                    class="badge rounded-pill bg-info">$1.500.000</span></td>
                                            <td class="text-center align-middle"><span
                                                    class="badge rounded-pill bg-info">$1.500.000</span></td>
                                            <td class="text-center align-middle" scope="row"><button type="button"
                                                    class="btn btn-outline-secondary">Ver más</button></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center align-middle">Banco agrario</td>
                                            <td class="text-center align-middle"><span
                                                    class="badge rounded-pill bg-success">$1.500.000</span></td>
                                            <td class="text-center align-middle"><span
                                                    class="badge rounded-pill bg-danger">$50.000</span></td>
                                            <td class="text-center align-middle" scope="row"><button type="button"
                                                    class="btn btn-outline-secondary">Ver más</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    let myChat1 = document.getElementById('myChart1')

                    let context1 = myChat1.getContext('2d');

                    let barChart1 = new Chart(context1, {
                        type: 'doughnut', //bar, horizontalBar, pie, line, doughnut, radar, polarArea
                        data: {
                            labels: ['saldo disponible', 'revisión moto', 'soat', 'comida', 'salidas', 'entretenimiento'],
                            datasets: [{
                                label: '',
                                data: [2, 3, 4, 5, 6, 7],
                                backgroundColor: [
                                    'rgba(54, 162, 235, 0.6)',
                                    'rgba(255, 206, 86, 0.6)',
                                    'rgba(75, 192, 192, 0.6)',
                                    'rgba(153, 102, 255, 0.6)',
                                    'rgba(255, 159, 64, 0.6)',
                                    'rgba(255, 99, 132, 0.6)'
                                ]
                            }],
                        },
                        options: {}
                    });

                    let myChat2 = document.getElementById('myChart2')

                    let context2 = myChat2.getContext('2d');

                    let barChart2 = new Chart(context2, {
                        type: 'polarArea', //bar, horizontalBar, pie, line, doughnut, radar, polarArea
                        data: {
                            labels: ['saldo disponible', 'revisión moto', 'soat', 'comida', 'salidas', 'entretenimiento'],
                            datasets: [{
                                label: '',
                                data: [2, 3, 4, 5, 6, 7],
                                backgroundColor: [
                                    'rgba(54, 162, 235, 0.6)',
                                    'rgba(255, 206, 86, 0.6)',
                                    'rgba(75, 192, 192, 0.6)',
                                    'rgba(153, 102, 255, 0.6)',
                                    'rgba(255, 159, 64, 0.6)',
                                    'rgba(255, 99, 132, 0.6)'
                                ]
                            }],
                        },
                        options: {}
                    });
                </script>

            </div>
            <div class="tab-pane fade" id="importar">
                <div class="card my-4">
                    <div class="card-body">
                        <h1>🐸</h1>
                        <h1>Proximamente...</h1>
                    </div>
                </div>
                <!-- <div class="my-2">
                    <div class="w-75 mx-auto card">
                        <div class="card-body">
                            <h1 class="card-title my-2">Importar mis finanzas</h1>
                            <h6 class="my-2 card-subtitle text-muted">Agrega un archivo .csv con tus cuentas</h6>
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control my-2" type="file" id="formFile">
                                </div>
                            </fieldset>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title my-2">Exportar mis finanzas</h1>
                            <h6 class="my-2 card-subtitle text-muted">Crearemos un archivo .csv con todos tus registros
                            </h6>
                            <fieldset>
                                <div class="form-group w-100">
                                    <button class="btn btn-primary  btn-block" type="button">Exportar .csv</button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <ng-template #modalCrearIngresos let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Crear ingreso</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="crearIngresosForm">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="name" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" formControlName="expected_amount"
                        placeholder="Gasto esperado">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancelar</button>
            <button type="button" class="btn btn-outline-dark" (click)="crearIngresos()"
                [disabled]="crearIngresosForm.invalid">Crear</button>
        </div>
    </ng-template>
    <ng-template #modalCrearGasto let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Crear gasto</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="crearGastoForm">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="name" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" formControlName="amount_cost" placeholder="Gasto">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancelar</button>
            <button type="button" class="btn btn-outline-dark" (click)="crearGasto()"
                [disabled]="crearGastoForm.invalid">Crear</button>
        </div>
    </ng-template>