<app-nav></app-nav>
<div class="mt-4">
    <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="padding-top:58px; background-image: url('https://www.gifsanimados.org/data/media/365/finanzas-y-economia-imagen-animada-0031.gif');">
        <div class="row h-100">
            <div class="col">
                <div class="w-100 h-100">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kHFoEGecp24" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col card bg-dark">
                <h1 class="card-title my-4">Problemas con tus finanzas?</h1>
                <h6 class="card-title">Cambia tus finanzas, transforma tu vida</h6>
                <p class="xp-2 text-left">Las finanzas personales se refieren al manejo y administración de dinero y bienes de un individuo o familia. Es decir, la administración de todo tu dinero: tus ingresos, tus gastos, bienes materiales, fondos de ahorro, fondos de inversión, seguros, créditos, etc.</p>
            </div>
        </div>
    </div>
    <!-- <h1 class="card-title">Problemas con tus finanzas?</h1> -->
    <!-- <h3 class="card-title">Cambia tus finanzas, transforma tu vida</h3> -->
</div>
<div class="container text-center" style="padding-bottom:111px;">
    <div class="mt-4">
        <div class="row">
            <div class="col-3">
                <div class="card bg-dark p-2 h-100">
                    <div class="d-flex flex-column">
                      <div class="p-2">
                          <img width="100%" src="https://www.finanzaspracticas.com.co/assets/images/cards/etapas-de-la-vida-sq-360-360.jpg">
                      </div>
                      <div class="p-2">
                          <div class="text-white">
                              <div class="p-2">
                                  <h5 class="mt-4 text-white">Etapas de la vida</h5>
                                  <p class="xp-2 text-left">Tener una buena salud financiera es muy importante en la medida en la que vamos adquiriendo mayores responsabilidades a lo largo...</p>
                              </div>
                          </div>
                      </div>
                      <div class="p-2">
                          <div class="text-white p-4">
                              <a class="mt-4 text-white btn btn-info"href="https://www.finanzaspracticas.com.co/planificar/etapas-de-la-vida">Saber más</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-dark p-2 h-100">
                    <div class="d-flex flex-column">
                      <div class="p-2">
                          <img width="100%" src="https://www.finanzaspracticas.com.co/assets/images/cards/aprende-a-invertir-sq-360-360.jpg">
                      </div>
                      <div class="p-2">
                          <div class="text-white">
                              <div class="p-2">
                                  <h5 class="mt-4 text-white">Aprende a invertir</h5>
                                  <p class="xp-2 text-left">Llegó el momento de poner tus ahorros a trabajar. De poco sirve el esfuerzo en recortar tus gastos y aumentar los ahorros si no diseñas una...</p>
                              </div>
                          </div>
                      </div>
                      <div class="p-2">
                          <div class="p-4 text-white">
                              <a class="mt-4 text-white btn btn-info"href="https://www.finanzaspracticas.com.co/invertir/aprende-a-invertir">Saber más</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-dark p-2 h-100">
                    <div class="d-flex flex-column">
                      <div class="p-2">
                          <img width="100%" src="https://www.finanzaspracticas.com.co/assets/images/cards/ahorro-sq-270-270.jpg">
                      </div>
                      <div class="p-2">
                          <div class="text-white">
                              <div class="p-2">
                                  <h5 class="mt-4 text-white">Ahorro</h5>
                                  <p class="xp-2 text-left">El ahorro es uno de los pilares de las finanzas personales. Mediante el ahorro puedes llevar una vida financieramente estable que te permitirá...</p>
                              </div>
                          </div>
                      </div>
                      <div class="p-2">
                          <div class="p-4 text-white">
                              <a class="mt-4 text-white btn btn-info"href="https://www.finanzaspracticas.com.co/planificar/ahorro">Saber más</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-dark p-2 h-100">
                    <div class="d-flex flex-column">
                      <div class="p-2">
                          <img width="100%" src="https://www.finanzaspracticas.com.co/assets/images/cards/calculadoras-sq-360-360.jpg">
                      </div>
                      <div class="p-2">
                          <div class="text-white">
                              <div class="p-2">
                                  <h5 class="mt-4 text-white">Calculadora</h5>
                                  <p class="xp-2 text-left">Logra un mejor control de tus finanzas haciendo uso de estas poderosas herramientas, que te ayudarán, entre otras cosas, a saber a dónde va tu...</p>
                              </div>
                          </div>
                      </div>
                      <div class="p-2">
                          <div class="p-4 text-white">
                              <a class="mt-4 text-white btn btn-info"href="https://www.finanzaspracticas.com.co/recursos/calculadoras">Saber más</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
