<div>

    <div class="d-flex justify-content-between p-3 username-container bg-dark navbar-dark">
        <div><a class="navbar-brand" [routerLink]="['/login']">🐸<strong>CroAPP</strong></a></div>
    </div>
    <div class="container text-center" style="padding-top:58px; padding-bottom:56px;">
        <div class="">
            <div class="row">
                <div class="col">
                    <div class="p-4 card h-100">
                        <h2>Misión</h2>
                        <p>
                            Somos un grupo de estudiantes de la universidad tecnológica de Pereira, que tiene como objetivo educar y concientizar a las personas sobre el manejo de finanzas personales.
                            Nosotros estamos buscando ayudar a educar a las personas financieramente
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-4 card h-100">
                        <h2>Visión</h2>
                        <p>
                            Nuestra meta es 1000 usuarios concurrentes en nuestra plataforma, gracias a las validaciones correspondientes que se realizaron se optó por agrandar la población objetivo de 20 a 60 años, para poder cumplir la meta y por que según el estudio ellos también pertenecen a la población que les afecta nuestra problemática.
                        </p>
                    </div>
                </div>
            </div>
            <div class="m-4">
                <div class="p-4 card h-100">
                    <div class="row h-100">
                        <div class="col-2">
                            <span class="font-weight-bold text-capitalize">
                                Cesar Alejandro Pimiento
                            </span>
                        </div>
                        <div class="col-10">
                            <p class="font-italic">
                                “Soy una persona sociable, carismática, que se preocupa por las personas, me gusta todo tipo de música, el sándwich Qbano y el milo. También seré el encargado de la infraestructura del proyecto para brindarle a las personas el mejor servicio posible, además tengo conocimientos sobre desarrollo de plataformas web y soy una persona de mente abierta, lo cual me permite tomar decisiones con los aportes de mi equipo”
                            </p>
                        </div>
                        <div class="col-2">
                            <span class="font-weight-bold text-capitalize">
                                Andres Soto
                            </span>
                        </div>
                        <div class="col-10">
                            <p class="font-italic">
                                “Soy una persona tranquila que le gusta tomarlo todo con calma y analizar bien las cosas y seré el encargado de la parte visual de la plataforma para que esta tenga un diseño atractivo e intuitivo para el usuario”
                            </p>
                        </div>
                        <div class="col-2">
                            <span class="font-weight-bold text-capitalize">
                                Daniel Serna
                            </span>
                        </div>
                        <div class="col-10">
                            <p class="font-italic">
                                “Soy una persona a la qué le gusta planear muy bien todo antes de pasar a realizar las cosas, sin embargo siempre estoy abierto a los cambios, yo seré el encargado de la parte lógica de la plataforma para qué todo funcione como debe”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white text-center fixed-bottom">
        <div class="text-center py-2" style="background-color: rgba(0, 0, 0, 0.2);">
          <div class="row d-flex justify-content-center">
              <div class="col-2">
                  <a class="text-white" style="text-decoration: none !important" href="#">Quienes somos</a>
              </div>
              <div class="col-2">
                  <a class="text-white" style="text-decoration: none !important" href="/mision">Mision Y Vision</a>
              </div>
              <div class="col-2">
                  <a class="text-white" style="text-decoration: none !important" href="#">Contactanos</a>
              </div>
              <div class="col-2">
                  <a class="text-white" href="https://www.instagram.com/croapp_/">
                      <img width="10%" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="">
                      Instagram
                  </a>
              </div>
          </div>
          <div class="">
              soporte@croapp.com.co - © 2021 Copyright 🐸
          </div>
        </div>
    </footer>
</div>