<nav class="xautohide navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
    style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/login']">🐸<strong>CroAPP</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="d-flex">
            <input class="form-control me-sm-2 mx-2" type="text" placeholder="Email-address">
            <input class="form-control me-sm-2 mx-2" type="password" placeholder="Password">
            <a [routerLink]="['/']" class="card-link btn btn-dark">Login</a>
            <a [routerLink]="['/']" class="card-link btn btn-dark">SignUp</a>
        </form>

    </div>
</nav>
